{% extends "basefront.html.twig" %}
{% block body %} 
    <form class="row gy-2 gx-3 align-items-center" action="{{ path('formations.ajouter') }}" method="post">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Titre</label>
        <input type="text" class="form-control" id="autoSizingInput" name='titre' value="{{titre ?? ""}}" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='description' value="{{description ?? ""}}"></textarea>
    </div>
   
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Playlist</label>
        <select class="form-select form-select-sm" name="playlists" id="creationPlaylist">
                             {% if playlist is not null %} 
                             <option selected>
                                        {{playlist}}
                                           </option>
                                           {%else%}
                                           <option selected>Playlist...</option>
                                    {% endif %}>
                                    
                                 
                            {% for playlist in playlists %}
                                <option 
                                    {% if valeur|default and valeur==playlists.id %} 
                                        selected
                                    {% endif %} 
                                    value="{{ playlist.id }}">{{ playlist.name }}
                                </option>
                            {% endfor %}
                        </select>  
    </div>
    <div class="mb-3">
        
        <label for="exampleFormControlTextarea1" class="form-label">Catégories</label>
        <select class="form-select form-select-sm" name="categories[]" id="creationCategorie" multiple>
            {% for categorie in categories %}
                {% set isSelected = false %}
                {% for selectedCategorie in categorie %}
                    {% if categorie.id == selectedCategorie.id %}
                        {% set isSelected = true %}
                    {% endif %}
                {% endfor %}
                <option {% if isSelected %}selected{% endif %} value="{{ categorie.id }}">{{ categorie.name }}</option>
            {% endfor %}
        </select>  
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Lien vidéo</label>
        <input type="text" class="form-control" id="autoSizingInput" name='videoId' value="{{videoId ?? ""}}">
    </div>
    <div class="mb-3">
        <label for="start">Date:</label>
        <input type="datetime-local" id="start" name="date" min="2024-01-01T00:00"/>
    </div>
    <div class="mb-3">
      <input type="hidden" name="_token" value="{{ csrf_token('submit_form') }}">
        <button type="submit" class="btn btn-success">Ajouter</button>
    </div>
    </form>
{% endblock %}